
<form [formGroup]="loginForm" (ngSubmit)="login()">
	<mat-form-field appearance="fill">
		<mat-label>Username</mat-label>
		<input [formControl]="username" matInput>
		<mat-error *ngIf="username?.errors?.required">
			Required
		</mat-error>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Password</mat-label>
		<input [formControl]="password" matInput [type]="hide ? 'password' : 'text'">
		<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
		<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
		</button>
		<mat-error *ngIf="password?.errors?.required">
			Required
		</mat-error>		
	</mat-form-field>
	<button mat-raised-button color="primary">Login</button>
</form>