<mat-card>
	<mat-card-header>
		<mat-card-title>Add a Fwend</mat-card-title>
	</mat-card-header>
	<form [formGroup]="addFriendForm" (ngSubmit)="addFriend()">
		<mat-form-field appearance="fill">
			<mat-label>Name</mat-label>
			<input matInput type="text" [formControl]="friendName">
			<mat-error *ngIf="friendName?.errors?.required">
				Required
			</mat-error>		
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Age</mat-label>
			<input matInput type="number" [formControl]="friendAge">
			<mat-error *ngIf="friendAge?.errors?.required">
				Required
			</mat-error>	
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Weight</mat-label>
			<input matInput type="number" [formControl]="friendWeight">
			<mat-error *ngIf="friendWeight?.errors as error">
				<ng-container *ngIf="error.required">
					Required
				</ng-container>
				<ng-container *ngIf="error.min">
					Age must be greater than {{error.min.min}}
				</ng-container>
				<ng-container *ngIf="error.max">
					Age must be less than {{error.max.max}}.
					Please help your fwend.
				</ng-container>
			</mat-error>	
		</mat-form-field>	
		<mat-form-field appearance="fill">
			<mat-label>Fwends</mat-label>
			<mat-select [formControl]="friendList" multiple>
			<mat-option *ngFor="let friend of friends$ | async" [value]="friend">{{friend.name}} - Age:" {{friend.age}}</mat-option>
			</mat-select>
		</mat-form-field>
		<button mat-raised-button color="primary">Add Fwend</button>
	</form>
</mat-card>